<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Adira1bi - partner Swagger UI</title>
    <link rel="stylesheet" type="text/css" href="{{base_url}}/swagger-ui.css" />
    <link rel="icon" type="image/png" href="{{base_url}}/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{base_url}}/favicon-16x16.png" sizes="16x16" />
    <style>
      html
      {
        box-sizing: border-box;
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
      }

      *,
      *:before,
      *:after
      {
        box-sizing: inherit;
      }

      body
      {
        margin:0;
        background: #fafafa;
      }
    </style>
  </head>

  <body>
    <div id="swagger-ui"></div>

    <script src="{{base_url}}/swagger-ui-bundle.js" charset="UTF-8"> </script>
    <script src="{{base_url}}/swagger-ui-standalone-preset.js" charset="UTF-8"> </script>
    <script>
    window.onload = function() {
      // Begin Swagger UI call region
      const ui = SwaggerUIBundle({
        urls: [{url: "https://mobilegatewayuat.adira.co.id/uat/public/ms2/adira1bi/partner/swagger", name: "default"}],
        dom_id: '#swagger-ui',
        deepLinking: true,
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIStandalonePreset
        ],
        plugins: [
          SwaggerUIBundle.plugins.DownloadUrl
        ],
        layout: "StandaloneLayout"
      });
      // End Swagger UI call region

      window.ui = ui;
    };
  </script>
  </body>
</html>
